@font-face {
  font-family: "Lifehack";
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Ubuntu", "Arial", "Helvetica", "sans-serif";
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smootthing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  min-width: 940px;
  min-height: 650px; }

.order__link {
  display: inline-block;
  background-color: #e25028;
  padding: 9px 15px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .order__link:hover {
    background-color: #d4441d; }

.section__head {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  margin: 0;
  padding-top: 80px; }

.top {
  background: url("../../img/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8px; }

.header__logo {
  margin-right: auto; }

.menu__nav {
  margin-right: 15px; }
  .menu__navmenu__list {
    margin: 0;
    padding: 0; }

.menu__elem {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap; }
  .menu__elem:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .menu__elem:last-child:after {
    display: none; }

.menu__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42; }

.top__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 85px; }

.top__img, .top__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.top__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.top__description-head {
  color: #f9b43b; }

.top__description-text {
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: 65px;
  color: #fff;
  line-height: 1; }

.best {
  background: url("../../img/best/best-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
