@font-face {
  font-family: "Lifehack";
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Ubuntu", "Arial", "Helvetica", "sans-serif";
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smootthing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }
  @media (max-width: 1200px) {
    body,
    html {
      font-size: 16px; } }
  @media (max-width: 992px) {
    body,
    html {
      font-size: 15px; } }
  @media (max-width: 768px) {
    body,
    html {
      font-size: 14px; } }
  @media (max-width: 480px) {
    body,
    html {
      font-size: 13px; } }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 58.75rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  min-width: 58.75rem;
  min-height: 40.625rem; }

.order__link {
  display: inline-block;
  background-color: #e25028;
  padding: 0.5625rem 0.9375rem;
  border-radius: 0.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 500;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .order__link:hover {
    background-color: #d4441d; }

.section__head {
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
  padding-top: 5rem; }

.top {
  background: url("../img/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.9375rem; }

.header__logo {
  margin-right: auto; }

.menu__nav {
  margin-right: 0.9375rem; }
  .menu__navmenu__list {
    margin: 0;
    padding: 0; }

.menu__elem {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap; }
  .menu__elem:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .menu__elem:last-child:after {
    display: none; }

.menu__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42; }

.top__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5.3125rem; }

.top__img, .top__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.top__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.top__description-head {
  color: #f9b43b; }

.top__description-text {
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: 65px;
  color: #fff;
  line-height: 1; }

.arrow-scroll {
  position: absolute;
  top: 90%; }

.best {
  background: url("../img/best/best-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 85px; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px; }

.best__elem {
  width: 300px;
  text-align: center; }

.elem__img {
  height: 100px; }

.elem__head {
  font-family: 'Lifehack';
  font-weight: 400;
  font-size: 24px; }

.slider__section {
  background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }

.team__section {
  background-image: url("../img/team/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }

.team__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93); }

.team__wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.team__head {
  color: #f8b43a;
  margin-bottom: 1.5625rem;
  padding: 0; }

.accordeon__element {
  margin-bottom: 1.875rem; }

.accordeon__element-active .accordeon__trigger {
  color: #f8b43a; }
  .accordeon__element-active .accordeon__trigger:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.accordeon__element-active .accordeon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.accordeon__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin-bottom: 0.625rem; }
  .accordeon__trigger:before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border: 0.3125rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0px;
    margin-right: 0.3125rem; }

.accordeon__content {
  display: none; }

.accordeon__img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100px; }

.accordeon__description {
  color: #fff;
  font-size: 0.875rem;
  margin-left: 1.25rem; }

.accordeon__description-head {
  font-weight: 700; }

.team__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu__section {
  background-image: url("../img/menu/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff; }

.menu__section-head {
  position: absolute;
  left: 5.625rem; }

.menu__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%; }

.menu__accardeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%; }

.menu__accardeon-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__accardeon-element .menu__accardeon-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 50, 52, 0.6);
    height: 100%;
    position: relative; }
    .menu__accardeon-element .menu__accardeon-trigger .trigger__title {
      position: absolute;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      height: 5rem; }
  .menu__accardeon-element .menu__accardeon-content {
    display: none;
    background-color: rgba(47, 50, 52, 0.929); }

.menu__accardeon-element-active .menu__accardeon-content {
  position: relative;
  width: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 2.1875rem;
  font-size: 0.875rem;
  font-weight: 300;
  overflow: hidden; }

.reviews__wrap {
  height: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }

.reviews__element {
  width: 25%;
  height: 50%;
  position: relative; }
  .reviews__element:hover .reviews__img {
    -webkit-filter: grayscale(100%) brightness(50%);
    filter: grayscale(100%) brightness(50%); }
  .reviews__element:hover .reviews__info {
    display: block; }

.reviews__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%) brightness(100%);
  filter: grayscale(100%) brightness(100%);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.reviews__info {
  position: relative;
  padding: 45px 20px;
  color: #fff;
  display: none; }

.reviews__name {
  font-family: 'Gagalin';
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 29px; }

.reviews__text {
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 16px;
  max-height: 150px;
  overflow: hidden; }

.reviews__btn {
  display: inline-block;
  background-color: #2f3234;
  padding: 9px 15px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .reviews__btn:hover {
    background-color: #232527; }

.form__section {
  background-image: url("../img/form/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 0.875rem; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__section-head {
  color: #f8b43a;
  padding: 0 0 2.5rem 0; }

.form__separation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 1.25rem; }
  .form__separation:last-child {
    margin-right: 0; }

.form__input {
  border: 0.0625rem solid transparent;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .form__input:focus {
    outline: none;
    border: 0.0625rem solid #f8b43a; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__row-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__title {
  margin-bottom: 0.3125rem; }

.form__textarea {
  resize: none;
  height: 6.75rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  padding: 0.5rem 1.25rem;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .form__textarea:focus {
    border: 0.0625rem solid #f8b43a;
    outline: none; }

.form__radio {
  margin-right: 1.25rem; }

.form__radio-input {
  position: absolute;
  visibility: hidden; }
  .form__radio-input:not(checked) + .form__radio-text .form__radio-btn {
    border: 0.0625rem solid;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 0.5rem; }
  .form__radio-input:checked + .form__radio-text .form__radio-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #e25028; }

.form__checkbox {
  position: relative; }

.form__checkbox-input {
  position: absolute;
  visibility: hidden; }
  .form__checkbox-input:not(checked) + .form__checkbox-text .form__checkbox-btn {
    border: 0.0625rem solid;
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 0.5rem; }
  .form__checkbox-input:checked + .form__checkbox-text .form__checkbox-btn:after {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.125rem;
    font-weight: 700;
    color: #e25028; }

.order__btn {
  border: none;
  cursor: pointer; }
  .order__btn:focus {
    outline: none; }

.form__reset {
  position: relative;
  cursor: pointer; }

.form__reset-input {
  position: absolute;
  visibility: hidden; }
  .form__reset-input:checked + .form__reset-text .form__reset-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form__reset-text {
  padding: 0.5625rem 0.9375rem; }

.contact__section {
  background-image: url("../img/contacts/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.footer {
  background-image: url("../img/contacts/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 3.75rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0; }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .footer__address {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    height: 100%; }
  .footer__address-text {
    margin-bottom: 0.3125rem; }
  .footer__phone {
    color: #e25028;
    font-weight: 700; }
  .footer__social {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 50%;
    height: 100%; }

.social__list li {
  display: inline-block;
  margin-right: 1.25rem; }
  .social__list li:last-child {
    margin-right: 0; }

.icon {
  fill: #585858;
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .icon:hover {
    fill: #fff; }
