.best {
	background: url('../img/best/best-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.best__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 85px;
}

.best__list {
	display: flex;
	padding-top: 55px;
}
.best__elem {
	width: calc(100% / 3);
	text-align: center;
}

.elem__img {
	height: 100px;
}

.elem__head {
	font-family: 'Lifehack';
	font-weight: 400;
	font-size: 24px;
}

.elem__text {
	font-size: rem(14px);
}