.contact__section {
    // background-image: url('../img/contacts/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer {
    background-image: url('../img/contacts/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: rem(60px);
    position: absolute;
    z-index: 25;
    left: 0;
    right: 0;
    bottom: 0;
    @include phones {
        height: rem(138px);
    }
    &__container {
        flex-direction: row;
        @include phones {
            flex-direction: column;
            text-align: center;
        }
    }
    &__address {
        color: #fff;
        font-size: rem(14px);
        font-style: normal;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
    &__address-text {
        margin-bottom: rem(5px);
    }
    &__phone {
        color: $orange;
        font-weight: 700;
    }
    &__social {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        @include phones {
            align-items: center;
        }
    }
}

.social__list li {
    display: inline-block;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}

.icon {
    fill: #585858;
    display: inline-block;
    vertical-align: middle;
    height: rem(20px);
    width: rem(20px);
    transition: .4s;
    &:hover {
        fill: #fff;
    }
}