.menu__section {
    background-image: url('../img/menu/menu-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

.menu__section-head {
	position: absolute;
	left: rem(90px);
	@include phones {
		padding-top: rem(50px);
		left: rem(50px);
	}
}

.menu__container {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 70%;
	@include tablets {
		width: 100%;
	}
}

.menu__accardeon {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-end;
}

.menu__accardeon-element {
	display: flex;
	.menu__accardeon-trigger {
		display: flex;
		width: rem(80px);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: rgba( 47, 50, 52, 0.6 );
		height: 100%;	
		position: relative;
		cursor: pointer;
		.trigger__title {
			font-family: 'Gagalin';
			font-size: rem(40px);
			color: #fff;
			position: absolute;
			transform: rotate(-90deg);
			top: 95%;
			left: 50%;
			z-index: 1;
			line-height: 0;
			transform-origin: left top;
			white-space: nowrap;
			transition: .4s;
		}
		&:hover {
			.trigger__title {
				color: $yellow;
			}
		}
	}
	.menu__accardeon-content {
		display: none;
		background-color: rgba( 47, 50, 52, 0.929 );
	}
}

.menu__accardeon-element-active {
	.menu__accardeon-trigger {
		.trigger__title {
			color: $yellow;
		}
	}
	.menu__accardeon-content {
		position: relative;
		width: calc(100% - 80px);
		display: flex;
		padding: rem(60px) rem(35px);
		font-size: rem(14px);
		font-weight: 300;
		overflow: hidden;
		@include laptop {
			width: calc(100% - 75px);
		}
		@include tablets {
			width: calc(100% - 65px);
		}
	}
}