.popapContainer {
  width: 100%;
  height: 100%;
  background: rgba(47, 50, 52, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popapContent {
  background: #fff;
  padding: rem(30px) rem(20px);
  width: rem(460px);
  border-radius: 4px;
  position: relative;
  font-size: rem(14px);
}

.popapClose {
  position: absolute;
  right: 3%;
  top: 0;
  font-size: rem(30px);
  color: $orange;
}

.popapName {
  font-family: 'Gagalin';
  font-size: rem(15px);
  margin-bottom: rem(20px);
}

