.slider__section {
    background-image: -moz-linear-gradient( 90deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
    color: #fff;
}

.slider__section-head {
    padding: 0;
    line-height: 0.9;
    margin-bottom: rem(25px);
}

.slider {
    height: 100%;
    width: 100%;
    padding: rem(90px) 0;
    position: relative;
    overflow: hidden;
    @include tablets {
        height: 100%;
        padding: rem(50px);
        justify-content: center;
    }
    &__list {
        position: relative;
        height: 100%;
        width: 300%;
        display: flex;
        transition: 1s;
        flex-direction: row;
    }
    &__element {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 50%;
        @include tablets {
            width: 70%;
            height: 50%;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
    &__text {
        font-size: rem(14px);
        margin-bottom: rem(25px);
    }
    &__info {
        display: flex;
        align-items: baseline;
    }
    &__prise {
        font-family: 'Gagalin';
        font-weight: 400;
        color: $orange;
        font-size: rem(30px);
        margin-right: rem(30px);
        span {
            font-size: rem(70px);
        }
    }
    &__arrow {
        position: absolute;
        height: rem(14px);
        width: rem(30px);
        top: 50%;
        transform: translate(0, -50);
        z-index: 100;
        &-left {
            left: -5%;
            right: auto;
            @include tablets {
                left: 5%;
            }
            img {
                transform: rotate(90deg);
                position: absolute;
            }
        }
        &-right {
            right: -5%;
            left: auto;
            @include tablets {
                right: 5%;
            }
            img {
                transform: rotate(-90deg);
                position: absolute;
            }
        }
    }
}

.composition {
    cursor: pointer;
    position: relative;
    height: rem(90px);
    width: rem(90px);
    left: 10%;
    @include tablets {
        left: -30%;
        top: 4%;
    }
    @include phones {
        left: -25%
    }
    &:hover {
        .composition__drop {
            top: 0;
            opacity: 1;
        }
        .composition__btn {
            background-color: rgb( 227, 80, 40);
        }
    }
    &__btn {
        width: rem(90px);
        height: rem(90px);
        background-color: rgba(227, 80, 40, 0.4);
        border-radius: rem(4px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .4s;
    }
    &__text {
        font-family: 'Gagalin';
        font-size: rem(14px);
        font-weight: 400;
        text-transform: uppercase;
    }
    &__drop {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: rem(4px);
        font-size: rem(14px);
        font-weight: 500;
        color: #2f3234;
        padding: rem(10px);
        position: absolute;
        left: 100%;
        top: rem(-3333px);
        opacity: 0;
        transition: opacity .4s;
    }
    &__table {
        td {
            padding: 0 rem(10px);
            white-space: nowrap;
        }
    }
}

.kkal {
    position: absolute;
    left: 11%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gagalin';
    font-size: rem(14px);
    line-height: 1.42;
    letter-spacing: rem(1px);
    font-weight: 400;
    text-align: center;
    @include tablets {
        left: 80%;
        bottom: 83%;
    }
    @include phones {
        left: 75%;
    }
    &__img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        font-size: rem(20px);
        height: rem(60px);
        width: rem(60px);
        display: flex;
        span {
            padding: rem(25px) rem(13px);
        }
    }
}