.top {
	background: url('../img/hero/hero-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative;
}

.header__block {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 8px;
}

.header__logo {
	margin-right: auto;
}

.menu__nav {
	margin-right: 15px;
	&menu__list {
		margin: 0;
		padding: 0;
	}
}

.menu__elem {
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	&:after {
		display: inline-block;
		vertical-align: middle;
		content: '';
		@include circle(5px, #fff);
		margin: 0 12px;
	}
	&:last-child:after {
		display: none;
	}
}

.menu__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.42;
}

.top__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 85px;
}

.top__img, .top__description {
	display: flex;
	flex-basis: 50%;
}

.top__description {
	flex-direction: column;
	justify-content: center;
}

.top__description-head {
	color: #f9b43b;
}

.top__description-text {
	font-family: 'Lifehack';
	font-weight: 500;
	font-size: 65px;
	color: #fff;
	line-height: 1;
}